<?xml version="1.0"?>
<launch>

  <param name="/scalaser/fov_s" type="int" value="200" />
  <param name="/scalaser/fov_d" type="int" value="250" />
  <param name="/scalaser/dzi" type="double" value=".62" />
  <param name="/scalaser/phi" type="double" value="-35" />
  <param name="/scalaser/kp" type="double" value="0.1" />
  <param name="/scalaser/vel_fwd" type="double" value="0.0" />
  <param name="/scalaser/threshold" type="double" value="0.010" />

  <node pkg="scalaser" type="Angle" name="angle" output="screen" >
  </node>

</launch>